/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
a {
  color: unset;
  text-decoration: unset;
  border-bottom: transparent solid 1px;
}
a:hover {
  border-bottom: solid 1px;
}
.clickable {
  cursor: pointer;
  border-bottom: transparent solid 1px;
}
.clickable:hover {
  border-bottom: solid 1px;
}
li {
  list-style: square;
  list-style-position: inside;
}
@keyframes blink {
  50% {
    color: transparent;
  }
}
.blinking {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  font-size: 0.8em;
}
@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }
}
body {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  font-family: 'PT Mono', monospace;
  font-size: 20px;
  background: black;
  color: green;
  min-width: 500px;
  min-height: 500px;
}
body h1 {
  color: yellow;
  font-size: 1.5em;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-content: space-around;
  height: 60px;
  border-bottom: 1px dashed green;
  margin-bottom: 40px;
}
body header h1 {
  margin: auto 0;
}
body header img {
  display: none;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}
body .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
}
body .content .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding-right: 40px;
  border-right: 1px dashed green;
  margin-right: 40px;
}
body .content .menu .selected {
  color: yellow;
}
body .content .data {
  color: white;
}
body .content .data div {
  display: none;
}
