/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
@keyframes blink {
  50% {
    border-bottom: 4px white solid;
    padding-bottom: -4px;
    color: #ccc39c;
  }
}
.cursor-blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
}
.emph {
  color: #ccc39c;
}
a,
.cmd {
  cursor: pointer;
  color: #ffd000;
  text-decoration: unset;
}
a:hover,
.cmd:hover {
  text-decoration: underline;
}
li {
  list-style: square;
  list-style-position: outside;
  margin-left: 16pt;
}
h1 {
  color: #ccc39c;
  font-size: 1.4em;
  line-height: 1.4em;
}
h1 a {
  color: inherit;
}
h2 {
  color: #ccc39c;
  text-decoration: underline;
  line-height: 2em;
}
h3 {
  color: #ccc39c;
  line-height: 2em;
}
@media (max-width: 800px) {
  .desktop-only {
    display: none;
  }
}
.arrow {
  position: absolute;
  margin-left: -16pt;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 8pt;
  font-family: courier, monospace;
  font-size: 16pt;
  line-height: 1.2em;
  word-wrap: break-word;
  background: #202c39;
  color: #f29559;
  min-width: 250px;
}
header {
  border-bottom: 1px dashed #ccc39c;
  margin-bottom: 8pt;
}
header h1 {
  text-align: center;
}
#content {
  flex-grow: 1;
  margin: 0 16pt 8pt;
}
@media (max-width: 500px) {
  #content {
    margin: 0 0 8pt;
  }
}
img.icon {
  text-align: center;
  width: 200px;
  max-width: 33vw;
  height: 200px;
  max-height: 33vw;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  float: right;
  margin: 0 0 16pt 16pt;
}
#console-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 8pt;
}
#console-wrapper label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding: 0 16pt;
  border-radius: 20px 0 0 20px;
  background: #d8ceab;
  color: #304252;
  font-weight: bold;
}
#console {
  flex-grow: 1;
  min-width: 100px;
  outline: unset;
  background: #304252;
  color: unset;
  font: unset;
  border: none;
  border-radius: 0 20px 20px 0;
}
#console-wrapper label,
#console {
  height: 60px;
  padding: 0 16pt;
}
@media (max-width: 800px) {
  #console-wrapper label,
  #console {
    height: 50px;
    padding: 0 12pt;
  }
}
@media (max-width: 500px) {
  #console-wrapper label,
  #console {
    height: 40px;
    padding: 0 8pt;
  }
}
.help {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 8pt;
}
.help .short-border {
  width: 200px;
  padding: 0;
  margin: 0 auto 8pt;
  border-top: 1px dashed #ccc39c;
}
.help p {
  display: inline-block;
}
footer {
  padding: 8pt 0;
  border-top: 1px dashed #ccc39c;
  text-align: center;
}
