// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

// end of css reset

// don't change these colors
@bg-col: #202c39;
@text-col: #f29559;

// up for debate
@bg-col-light: #304252;
@emph-col: #ccc39c;
@emph-col-bg: #d8ceab;
@link-col: #ffd000;

@pad: 16pt;
@font-size: 16pt;
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";

.cursor-blink {
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
}

.flex(@direction, @jc, @wrap) {
	display: flex;
	flex-direction: @direction;
	justify-content: @jc;
	flex-wrap: @wrap;
}

.emph {
	color: @emph-col;
}

a, .cmd {
	cursor: pointer;
	color: @link-col;
	text-decoration: unset;
	
	&:hover {
		text-decoration: underline;
	}
}

li {
	list-style: square;
	list-style-position: outside;
	margin-left: @pad;
}

h1 {
	color: @emph-col;
	font-size: 1.4em;
	line-height: 1.4em;

	a {
		color: inherit;
	}
}

h2 {
	color: @emph-col;
	text-decoration: underline;
	line-height: 2em;
}

h3 {
	color: @emph-col;
	line-height: 2em;
}

input {
	min-width: 100px;
	outline: unset;
	background: @bg-col-light;
	color: unset;
	font: unset;
	border: none;
}

button {
	display: block;
	margin:  @pad / 2;
	outline: unset;
	border: none;
	font: unset;
	padding: @pad / 2;
	background: @emph-col;
	color: @bg-col-light;
	font-weight: bold;
}

.desktop-only {
	@media @tablet {
		display: none;
	}
}

.space {
	width: @pad;
}

body {
	.flex(column, space-between, nowrap);
	width: 100%;
	padding: 0 @pad/2;
	font-family: courier, monospace;
	font-size: @font-size;
	line-height: 1.2em;
	word-wrap: break-word;
	background: @bg-col;
	color: @text-col;

	min-width: 250px;
}

header {
	border-bottom: 1px dashed @emph-col;
	margin-bottom: @pad / 2;

	h1 {
		text-align: center;
	}
}

#content {
	// .flex(row, flex-start, nowrap);
	flex-grow: 1;
	margin: 0 @pad @pad / 2;

	@media @mobile {
		margin: 0 0 @pad / 2;
	}
}

img.icon {
	text-align: center;
	width: 200px;
	max-width: 33vw;
	height: 200px;
	max-height: 33vw;
	object-fit: cover;
	border: 3px solid white;
	border-radius: 50%;
	float: right;
	margin: 0 0 @pad @pad;
}

#console-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: @pad / 2;
}

#console-wrapper label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 60px;
	padding: 0 @pad;
	border-radius: 20px 0 0 20px;
	background: @emph-col-bg;
	color: @bg-col-light;
	font-weight: bold;

}

#console {
	flex-grow: 1;
	border-radius: 0 20px 20px 0;
}

#console-wrapper label, #console {
	height: 60px;
	padding: 0 @pad;
	
	@media @tablet {
		height: 50px;
		padding: 0 @pad * 3 / 4;
	}

	@media @mobile {
		height: 40px;
		padding: 0 @pad / 2;
	}
}

#diff-form {
	display: flex;
	flex-direction: row;
	justify-content: center;

	@media @mobile {
		flex-direction: column;
		align-items: flex-start;
	}
}

#diff-form div {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	margin-left: @pad;

	@media @mobile {
		align-items: flex-start;
		margin: 0;
		width: 100%;
	}
}

#diff-form div:first-child {
	margin-left: 0;
}

#diff-form input {
	width: 100%;
	flex-grow: 1;
	height: 40px;
	padding: 0 @pad / 2;

	@media @mobile {
		width: 100%;
	}
}

#diff-output {
	color: @emph-col;
	text-align: center;
}

.diff-remove {
	background: red;
	margin: 0 @pad / 4;
}

.diff-insert {
	background: green;
	margin: 0 @pad / 4;
}

.diff-alter-a {
	background: red;
	margin-left: @pad / 4;
}

.diff-alter-b {
	background: green;
	margin-right: @pad / 4;
}

.conway h2 {
	text-align: center;
}

.conway h3 {
	text-align: center;
	font-weight: bold;
}

.conway-presets {
	text-align: center;
}

.conway-presets, .conway-controls {
	display: flex;
	justify-content: center;
}

.conway-size-inputs {
	display: flex;
	justify-content: center;
	flex-direction: row;

	div {
		margin: @pad / 2;
	}
}

.conway-size-form button {
	width: 200px;
	height: 30px;
	padding: 0;
	margin: auto;
}

.help {
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: @pad / 2;

	.short-border {
		width: 200px;
		padding: 0;
		margin: 0 auto @pad / 2;
		border-top: 1px dashed @emph-col;
	}

	p {
		display: inline-block;
	}
}

footer {
	padding: @pad / 2 0;
	border-top: 1px dashed @emph-col;
	text-align: center;
}