// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

// end of css reset

@bg-col: black;
@emph-col: yellow;
@text-col: green;
@sub-text-col: white;
@warning-col: red;
@pad: 40px;
@font-size: 20px;
@mobile: ~"(max-width: 500px)";

.flex(@direction, @jc, @wrap) {
	display: flex;
	flex-direction: @direction;
	justify-content: @jc;
	flex-wrap: @wrap;
}

@bottom-margin: {
	margin-bottom: 40px;
}

a {
	color: unset;
	text-decoration: unset;
	border-bottom: transparent solid 1px;

	&:hover {
		border-bottom: solid 1px;
	}
}

.clickable {
	cursor: pointer;
	border-bottom: transparent solid 1px;

	&:hover {
		border-bottom: solid 1px;
	}
}

li {
	list-style: square;
	list-style-position: inside;
}

@keyframes blink {
	50% {
		color: transparent;
	}
}

.blinking {
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: step-start;
	font-size: 0.8em;
}

.desktop-only {
	@media @mobile {
		display: none;
	}
}

body {
	.flex(column, space-between, nowrap);
	flex-direction: column;
	width: 100%;
	padding: 0 @pad/2;
	font-family: 'PT Mono', monospace;
	font-size: @font-size;
	background: @bg-col;
	color: @text-col;

	min-width: 500px;
	min-height: 500px;

	h1 {
		color: @emph-col;
		font-size: 1.5em;
	}

	header {
		.flex(row, flex-end, nowrap);
		align-content: space-around;
		height: 60px;
		border-bottom: 1px dashed @text-col;
		@bottom-margin();

		h1 {
			margin: auto 0;
		}

		img {
			display: none;
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 50%;
			vertical-align: middle;
		}
	}

	.content {
		.flex(row, flex-start, nowrap);
		flex-grow: 1;

		.menu {
			.flex(column, space-evenly, nowrap);
			padding-right: @pad;
			border-right: 1px dashed @text-col;
			margin-right: @pad;

			.selected {
				color: @emph-col;
			}
		}

		.data {
			color: @sub-text-col;
			
			div {
				display: none;
			}
		}
	}
}